@using NakedObjects.Web.Mvc.Html
@model Object

@{
    Layout = "~/Views/Shared/_NofLayout.cshtml";
    ViewBag.Title = Html.ObjectTitle(Model);
}

<div id="body">
    <section class="main-content" >
        @(Html.TabbedHistory(Model))   
        <div class="@(Html.ObjectViewClass(Model))" id="@(Html.ObjectTypeAsCssId(Model))">
            @(Html.UserMessages())
            @if (Html.ObjectIsNotPersistent(Model)) {
                using (Html.BeginForm(IdHelper.EditObjectAction,
                    Html.TypeName(Model).ToString(),
                    new {id = Html.GetObjectId(Model).ToString()},
                    FormMethod.Post,
                    new {@class = IdHelper.EditName})) {
                    @*TODO: Replace with Html.ObjectMenuOnTransient(Model)*@
                    @(Html.MenuOnTransient(Model))
                    if (Html.ObjectHasVisibleFields(Model)) {
                        @(Html.PropertyList(Model))
                    }
                }
            }
            else {
                @*TODO: Replace with Html.ObjectMenu(Model)*@
                @(Html.Menu(Model))
                if (Html.ObjectHasVisibleFields(Model)) {
                    @(Html.PropertyList(Model))
                }
            }
        </div>
    </section>
</div>