@using NakedObjects.Web.Mvc.Html
@model object

@{
    Layout = "~/Views/Shared/_NofLayout.cshtml";
    ViewBag.Title = Html.ObjectTitle(Model);
}

<div id="body">
    <section class="main-content" >
        @Html.TabbedHistory()
        <div class="@Html.ObjectViewClass(Model)" id="@Html.ObjectTypeAsCssId(Model)"></div>

        @Html.UserMessages()
    
        <div>@Html.ScalarView(Model)</div>
    </section>
</div>